@import "tailwindcss";

@font-face {
  font-family: 'Liberation Sans Bold Italic';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../../public/assets/liberation_sans/LiberationSans-BoldItalic.ttf') format('truetype');
}
@font-face {
  font-family: 'Liberation Sans Bold';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('../../public/assets/liberation_sans/LiberationSans-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'Liberation Sans Bold Italic';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../../public/assets/liberation_sans/LiberationSans-Italic.ttf') format('truetype');
}
@font-face {
  font-family: 'Liberation Sans Regular';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('../../public/assets/liberation_sans/LiberationSans-Regular.ttf') format('truetype');
}

:root {
  --background: #ffffff;
  --foreground: #171717;
  --color-subtle-red: rgb(59, 20, 20);
  --font-sans: 'Liberation Sans', sans-serif;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-accent: var(--color-subtle-red);
  --font-sans: var(--font-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-background);
  color: var(--color-foreground);
  font-family: var(--font-sans);
}
